{% extends 'userstories/main.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'userstories/detail.css' %}">
{% endblock %}
{% block page-title %}Story Detail{% endblock %}
{% block content %}
    <div class="story-box">
        <h3 class="story-header">{{ story.title }}</h3>
        <p class="story-body">{{ story.story }}</p>
    </div>
    <form action="{% url 'userstories:delete_story' story.id %}" method="post">
        {% csrf_token %}
        <input class="delete-story-submit" type="submit" value="Delete Story">
    </form>
{% endblock %}
