{% extends 'userstories/main.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'userstories/index.css' %}">
{% endblock %}
{% block page-title %}User Stories{% endblock %}
{% block content %}
    <form class="new-story-form" action="{% url 'userstories:index' %}" method="post">
        {% csrf_token %}
        {{ new_story_form.as_p }}
        <input type="submit" class="new-story-submit" value="Add User Story">
    </form>
    <ul class="stories-list">
        {% for story in story_list %}
            <li class="user-story">
                <a  class="user-story-link" href="{% url 'userstories:detail' story.id %}">
                    <h3 class="story-header">{{ story.title }}</h3>
                    <p class="story-body">{{ story.story }}</p>
                    <div class="fade-out-bottom-parent"><div class="fade-out-bottom"></div></div>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}