:root {
    --color-header-bg-hue: 182.03;
    --color-header-bg-saturation: 100%;
    --color-header-bg-lightness: 33.0%;
    --color-header-bg: hsl(var(--color-header-bg-hue), var(--color-header-bg-saturation), var(--color-header-bg-lightness));
    --color-header-text: white;
    --color-green-add: #3db600;
    --color-red-delete: red;
}


@media (prefers-color-scheme: light) {
    :root {
        --color-bg: white;
        --color-text: black;
        --color-lines: black;
        --color-button-border: var(--color-lines);

        color-scheme: light;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #212127;
        --color-text: #e9e9e9;
        --color-lines: #8b8b8b;

        color-scheme: dark;
    }
}
